.FormPage__wrapper {
    margin: 0 165px;
}
.FormPage__title {
    font-size: 72px;
}
.FormPage__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 125px;
}
.FormPage__container__title {
    font-size: 32px;
}
.FormPage__container__item__info {
    width: 100%;
}
.FormPage__container__item__form {
    flex: 1 1 60%;
    padding-bottom: 72px;
}
.FormPage__container__item__info {
    flex: 1 1 40%;
}
.displayFlex {
    display: flex;
}
.FormPage__phoneNumber {
    font-size: 24px;
}
.FormPage__container__table {
    width: 100%;
    border-spacing: 30px;
}
.FormPage__container__note {
    font-size: 14px;
    color: #8e8e8e;
}
.FormPage__container__table__input {
    margin-right: 30px;
}