.textarea__wrapper {
    display: block;
    width: 100%;
}
.textarea__label {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.textarea {
    border: none;
    border-radius: 8px;
    min-width: 255px;
    min-height: 94px;
    background-color: #F5F5F5;
    font-size: 18px;
    padding: 16px;
    resize: none;
    width: 100%;
}