.footer__wrapper {
    background-color: #F5F5F5;
    padding: 72px 165px 0 165px;
}
.footer__block__wrapper {
    background-color: #FFFFFF;
    height: 89px;
    border-radius: 8px;
    padding: 0 24px;
}
.footer__block {
    align-items: center;
    height: 100%;
    width: 100%;
}
.footer__logo__contact {
    display: flex;
    font-size: 32px;
    gap: 17px;
    margin: 0;
}
.footer__contact__icons {
    display: flex;
    gap: 8px;
}
.footer_text__wrapper {
    padding: 24px 0 32px 0;
    width: 100%;
}
.footer__contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}