.DataProcessing__popup__title {
    font-size: 72px;
    margin: 0 0 48px 0;
}
.DataProcessing__popup__content__wrapper {
    margin-bottom: 48px;
}
.DataProcessing__popup__subtitle {
    font-size: 18px;
    margin: 0;
}
.DataProcessing__popup__content,
.DataProcessing__popup__hint {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}
.DataProcessing__popup__hint {
    color: #B3B3B3;
    margin: 22px 0 0 0;
}
.DataProcessing__popup__subtitle {
    margin: 0 0 24px 0;
}