.slider__wrapper {
    background-color: #F5F5F5;
    height: 400px;
    padding: 0 165px;
}
.slider__container {
    display: flex;
    flex-direction: row;
    gap: 53px;
}
.slider__container__item__switching {
    flex: 1 1 40%;
    font-size: 72px;
    display: block;
}
.slider__container__item__switching p {
    margin: 0;
}
.slider__container__item__image {
    flex: 1 1 60%;
}
.switcher__wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    border: none;
    width: fit-content;
    height: 44px;
    display: flex;
    align-items: center;
}
.switcher__left,
.switcher__right {
    background-color: #ffffff;
    border: none;
    width: 44px;
    height: 28px;
}
.switcher__left {
    border-right: 1px solid #F5F5F5;
}